# Dependencias
node_modules/
.pnpm-store/
package-lock.json
yarn.lock

# Build y empaquetado Electron
dist/
out/
release/
*.tsbuildinfo

# Cobertura y reportes
coverage/

# Entornos y secretos
.env
.env.*
!.env.example
*.key
*.pem

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.suo